form(class="popup")
    p(class="popup__title") Найдём номера под ваши пожелания
    label(class="popup__label" for="arrival")
        span(class="popup__text") Прибытие 
        input(class="popup__field" id="arrival" type="text")
    label(class="popup__label" for="departure")
        span(class="popup__text") Выезд 
        input(class="popup__field" id="departure" type="text")
    label(class="popup__label" for="guests")
        span(class="popup__text") Гости 
        input(class="popup__field" id="guests" type="text" placeholder="Сколько гостей")
    button(class="popup__btn") Подобрать номер