header(class="header")
  div(class="header__item")
    a(class="header__logo" href="")
      img(src="img/Logo.svg", alt="") 
  nav(class="nav nav--opened nav--closed")
  button(class="nav__toggle" type="button") Открыть 
    ul(class="nav__list")
      each value in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
        li(class="nav__item")
          a(class="nav__link" href="")= value  
    div(class="nav__wrapper")
      button(class="nav__button" href="") Войти
      button(class="nav__button" href="") Зарегистрироваться  